.schedule_title {
  font-size: 45px;
  font-weight: 400;
  color: var(--dark_copper_rust);
  margin-left: 50px;
  margin-top: 40px;
}

.schedules_container {
  background-color: #495590;
  height: 600px;
  width: 500px;
  margin-left: 60px;
  border-radius: 25px;
  padding: 20px;
  display: block;
  border: 0px solid red;
  overflow-y: scroll;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark_copper_rust);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--copper_rust);
}
