body {
  background-color: #faf5f2;
  overflow-x: hidden;
  overflow-y: auto;
}

.home_container {
  background-image: url(https://docs.google.com/drawings/d/e/2PACX-1vQFeJEyoWu36oqhKqfmiCr3quztnKeeOg8QMX126n8GR5pv_gMYqQ7Rn7B7MqEX_5Iw1n3Jl-BhDbjv/pub?w=928&amp;h=434);
  height: 500px;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.front_text_style {
  font-size: 80pt;
  text-align: center;
  font-weight: 400;
  color: var(--dark_copper_rust);
}

.middle_text_style {
  font-size: 40pt;
  font-weight: 200;
  text-align: center;
  padding-top: 0px;
  color: var(--dark_copper_rust);
}

.line {
  /* TODO: Change the color of the line so that it's less weighty */
  border-color: var(--grey);
  max-width: 50%;
}

.button_container {
  padding-top: 30px;
  transform: translateX(37%);
}

.home_button,
.home_button:visited {
  font-size: 25px;
  font-family: "montserrat";
  color: var(--dark_copper_rust);
  padding: var(--m);
  border-radius: 16px;
  background-color: var(--primary);
  cursor: pointer;
  width: 25%;
  transition: all 0.3s ease-in;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

.home_button:hover {
  color: var(--dark_copper_rust);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.u-flex {
  padding-top: 50px;
  display: flex;
  margin-bottom: 100px;
}

.u-textCenter {
  text-align: center;
}

.subContainer {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.subContainer + .subContainer {
  margin-left: var(--m);
}

.subTitle {
  color: var(--dark_copper_rust);
  font-size: 50px;
  font-weight: 500;
  margin: var(--m) var(--s);
}

.subText {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  color: var(--dark_copper_rust);
}

.image_format {
  max-width: auto;
  max-height: 200px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: var(--dark_copper_rust);
  font-weight: 700;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid var(--dark_copper_rust);
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #674ea7;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.image_format:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 2s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.login_button_design,
.login_button_design:visited {
  font-size: 25px;
  font-family: "montserrat";
  color: var(--dark_copper_rust);
  padding: var(--m);
  border-radius: 16px;
  background-color: var(--primary);
  cursor: pointer;
  width: 25%;
  transition: all 0.3s ease-in;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

.login_button_design:hover {
  color: var(--dark_copper_rust);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.logo_img {
  height: 20px;
}
