.make_schedule_text {
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: var(--dark_copper_rust);
  font-size: 30px;
}

.option_one_questions {
  margin-left: 30%;
  color: var(--dark_copper_rust);
}

.submit_fixed_button,
.submit_fixed_button:visited {
  font-size: 20px;
  font-family: "montserrat";
  color: var(--dark_copper_rust);
  padding: var(--m);
  border-radius: 16px;
  background-color: var(--primary);
  cursor: pointer;
  width: 40%;
  margin-left: 20%;
  margin-top: 5%;
  transition: all 0.3s ease-in;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

.submit_fixed_button:hover {
  color: var(--dark_copper_rust);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
